.loginForm{
    background-color: rgba(91, 53, 122, 0.815);
    color:rgb(208, 177, 236);
    padding:20px;
    font-size: 25px;
    margin:30px;
}
.loginForm a{
    color:white;
    text-decoration: none;
}