ul {
    list-style-type: none;
  }
  a:link {
    text-decoration: none;
  }
  a:visited {
    text-decoration: none;
    color: rgb(137, 51, 235);
  }
  /* .nav{
    background: #251738;
    border-radius: 20px;
  } */
  #cartBtn{
    color: white;
    text-align:left;
  }
  #title{
    text-align:center;
    margin-left: 50px;
  }
  #toolbar{
    background-color: rgb(164, 132, 194);
    border:none;
  }