  .contactContainer {
      height: 100%;
      display: flex;
      padding-top: 30px;
      align-items: center;
      justify-content: center;
      box-sizing: border-box;   
  }

  .MuiInputBase-root{
    width:40em;
    padding-left: 15px;

  }

  .contact-paper-hdr {
      text-align: center;
  }

  .MuiPaper-root {
    border-radius: 8px;
  }

  #contactForm{
    background-color: rgba(91, 53, 122, 0.815);
    color: rgb(215, 181, 238);
  }

