  .contactContainer {
      height: 100%;
      display: flex;
      padding-top: 80px;
      align-items: center;
      justify-content: center;
      box-sizing: border-box;
  }

  .MuiInputBase-root{
    width: 28em;
    padding-left: 15px;
  }

  .contact-paper-hdr {
      text-align: center;
      color: rgba(128, 0, 128, 0.746);
  }

  .MuiPaper-root {
    border: solid 2px #1189de;
  }

