  .contactContainer {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
  }

  .form-control {
      margin-bottom: .5em;
  }
  .MuiInputBase-root{
    width: 28em;
  }
  .contact-paper-hdr {
      text-align: center;
      color: rgba(128, 0, 128, 0.746);
  }

  .material-icons {
    color: rgba(128, 0, 128, 0.746);
  }